.pembungkus {
  width: 80%;
  margin: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid white;
  background-color: rgb(24,116,253);
  border-radius: 4px;
  text-align: center;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.2s;

}

li a:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 4px gray;
}

.bersihfloat {
  clear: both;
}

#home, #about, #contact {
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
}

.isi__1, .isi__2, .isi__3, .isi__4 {
  background-color: white;
  border: solid 1px white;
  padding: 50px;
  display: none;
  color: black;
  font-family: calibri;
  border-radius: 6px;
  box-shadow: 1px 1px 6px gray;
}

h2 {
  text-align: center;
}

.active {
  font-weight: bold;
}

.halaman a {
  color: white;
  text-decoration: none;
  text-align: center;
  background-color: mediumseagreen;
  padding: 10px 25px;
  border-radius: 4px;
  justify-content: center;
  border: none;
}